<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Primary Meta Tags -->
    <title>YouKnow | FAQ</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico" />
    <meta name="title" content="YouKnow | FAQ" />
    <meta name="description" content="How can we help?" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://youknow.social/faq/" />
    <meta property="og:title" content="YouKnow | FAQ" />
    <meta property="og:description" content="How can we help?" />
    <meta property="og:image" content="assets/metaImage.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://youknow.social/faq/" />
    <meta property="twitter:title" content="YouKnow | FAQ" />
    <meta property="twitter:description" content="How can we help?" />
    <meta property="twitter:image" content="assets/metaImage.png" />
  </head>

  <body>
    <section class="faq-section">
      <div class="container">
        <div class="content">
          <img src="assets/youknow.svg" alt="youknow application icon" />
          <h3>How can we help?</h3>
          <input type="text" id="searchInput" placeholder="Search" />
          <div id="contentList">
            <details>
              <summary class="headline-six font-semibold">
                Delete for everyone
              </summary>
              <div>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Corrupti eos explicabo incidunt at distinctio delectus,
                nesciunt, aliquam cupiditate ad culpa dignissimos impedit maxime
                iusto inventore dolorem amet odio harum aliquid.
              </div>
            </details>
            <details>
              <summary class="headline-six font-semibold">
                Creating new group conversation
              </summary>
              <div>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Corrupti eos explicabo incidunt at distinctio delectus,
                nesciunt, aliquam cupiditate ad culpa dignissimos impedit maxime
                iusto inventore dolorem amet odio harum aliquid.
              </div>
            </details>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="content text-sm">
          <span>Copyright © 2024 YouKnow. All Rights Reserved.</span>
          <div class="quick-links">
            <a href="index.html">Home</a>
            |
            <a href="privacy&policy.html">Privacy & Policy</a>
          </div>
        </div>
      </div>
    </footer>

    <script src="js/script.js"></script>
  </body>
</html>
