<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- Primary Meta Tags -->
    <title>YouKnow | Let's keep in touch with friends!</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico" />
    <meta name="title" content="YouKnow | Let's keep in touch with friends!" />
    <meta
      name="description"
      content="YouKnow lets you text, video call and keeps in touch with people you care about. For Android, iOS, MacOS and Windows."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://youknow.social/" />
    <meta
      property="og:title"
      content="YouKnow | Let's keep in touch with friends!"
    />
    <meta
      property="og:description"
      content="YouKnow lets you text, video call and keeps in touch with people you care about. For Android, iOS, MacOS and Windows."
    />
    <meta property="og:image" content="assets/metaImage.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://youknow.social/" />
    <meta
      property="twitter:title"
      content="YouKnow | Let's keep in touch with friends!"
    />
    <meta
      property="twitter:description"
      content="YouKnow lets you text, video call and keeps in touch with people you care about. For Android, iOS, MacOS and Windows."
    />
    <meta property="twitter:image" content="assets/metaImage.png" />
  </head>

  <body>
    <section class="hero-section">
      <div class="container">
        <div class="content">
          <img
            class="app-icon"
            src="assets/appIcon.png"
            alt="youknow application icon"
          />
          <span class="app-name text-sm font-semibold">YouKnow</span>
          <h1 class="hero-title">Let's keep in touch with friends!</h1>
          <p class="hero-description headline-five">
            YouKnow lets you text, video call and keeps in touch with people you
            care about. For Android, iOS, MacOS and Windows.
          </p>
          <a class="download-badge" href="http://">
            <img src="assets/App Store Badge.png" alt="" />
          </a>
          <a class="download-badge" href="http://">
            <img src="assets/Google Play Badge.png" alt="" />
          </a>
          <img class="show-case" src="assets/showCase.png" alt="" />
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="content text-sm">
          <span>Copyright © 2024 YouKnow. All Rights Reserved.</span>
          <div class="quick-links">
            <a href="privacy&policy.html">Privacy Policy</a>
            |
            <a href="faq.html">FAQ</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
